@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html,
body {
  margin: 0;
  padding: 0;
}
